/*-----------------------------------------------------------------------------
 *                                      GENERAL 
 *----------------------------------------------------------------------------*/
body {
	background		: $color-gray;
	overflow		: hidden;
	font-family		: $font-family;
}


pre, code {
	background-color: $color-white;
	overflow-x: auto;
}
