/*-----------------------------------------------------------------------------
 *                                     TOC 
 *----------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
	.toc {
		display: none;
	}
}

.toc {
	@extend .scrollbar;
	@include row(11);
	@include row-offset(1);

	@include column(2, 0%);
	@include column-offset(0); 

	overflow: auto;
	background-color: $color-light;
	z-index: 1;

	ul {
		li {
			list-style-type: none;
			a {
				color: $color-dark;
			}
		}

		li.toc-h2 {
			margin: 20px 0px 0px;
			a {
				color: rgb(187, 187, 187);
				font-size: 11px;
				line-height: 12.1px;
				text-transform: uppercase;
			}
		}

		li.toc-h3 {
			margin: 0px 0px;
			padding: 0px 0px;
			a {
				color: #444; 
				font-size: 13px;
				line-height: 15.5px;
			}
		}
	}

	a.active {
		color: darken($color-base, $mono-offset) !important;
		font-weight: bold;
	}
}
