/*-----------------------------------------------------------------------------
 *                                      GENERAL 
 *----------------------------------------------------------------------------*/
body {
	background		: $color-gray;
	overflow		: hidden;
	font-family		: $font-family;
}


pre, code {
	background-color: $color-white;
	overflow-x: auto;
}


table {
    border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	border: solid 1px black;

	tr:hover td {
		background-color:#ffaaaa;
	}

	td {
		vertical-align:middle;
		background-color:#ffffff;
		border:1px solid #000000;
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		font-size: 0.8em;
		font-family:Arial;
		font-weight:normal;
		color:#000000;
	}

	tr:last-child {
		td {
			border-width:0px 1px 0px 0px;
		}
		
		td:last-child{
			border-width:0px 0px 0px 0px;
		}
	}

	tr td:last-child{
		border-width:0px 0px 1px 0px;
	}

	thead {
		tr {
			th {
				background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
				background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);
				background-color:#ff5656;
				border:0px solid #000000;
				text-align:center;
				border-width:0px 0px 1px 1px;

				font-size:14px;
				font-family:Arial;
				font-weight:bold;
				color:#ffffff;

				padding: 4px;
			}

			&:hover td {
				background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
				background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);
				background-color:#ff5656;
			}
		}
	}
}
