/*-----------------------------------------------------------------------------
 *                                      POST 
 *----------------------------------------------------------------------------*/

.post {
	@extend .full;
	background-color: $color-light;
}

/*-----------------------------------------------------------------------------
 *                                     HEADER 
 *----------------------------------------------------------------------------*/

.post-header {
	@include row(1, 8px);
	width		: 100%;
	text-align	: center;
	z-index		: 200;
	background	: $color-base;
	color		: $color-light;
}

.post-title {
	font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-meta {
	color: $color-light;
}

/*-----------------------------------------------------------------------------
 *                                     CONTENT 
 *----------------------------------------------------------------------------*/

.post-content {
	@extend .scrollbar;
	@include row(11, 0px);
	@include row-offset(1);
	@include column(10, 0%);
	@include column-offset(2);

	border-left: solid 1px #d1d1d1;
	overflow: auto;
	
	.section-content {
		border-top: solid 1px lighten($color-mono, $mono-offset * 6);
		padding: 20px;
	}
	
	.doc-content {
		padding-top: 16px;
	}

    h2 {
        font-size: 25px;
		line-height: 27.5px;
		font-weight: bold;
		margin: 10px 0px;
		color: $color-base;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

	p {
		font-size: 14px;
		color: lighten($color-mono, $mono-offset * 3);
	}

    h3 {
        font-size: 26px;
		color: lighten($color-base, $mono-offset / 2);
        @include media-query($on-laptop) {
            font-size: 22px;
        }
		a {
			color: inherit;
		}
    }

    h4 {
        font-size: 20px;
		color: lighten($color-base, $mono-offset / 2);

        @include media-query($on-laptop) {
            font-size: 18px;
        }

		a {
			color: inherit;
		}
    }
}
